**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/node_modules
**/.DS_Store
.env
.env.local
.idea
*.log
.next
dist
build
coverage
.dockerignore
.gitignore
.gitattributes
README.md
LICENSE
*.md
.editorconfig
